.castList {
	margin: 0;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	list-style: none;
	.actor {
		width: calc((100% - 80px) / 5);
		border: 1px solid #e0f4f5;
		border-radius: 16px;
		overflow: hidden;
		&__img {
			width: 100%;
		}
		&__dis {
			padding: 10px;
			margin: 0;
			color: #e0f4f5;
		}
	}
}
